<%= render "utilities/nav" %>
<%= render "utilities/carousel" %>

<div class="card-deck">
  <% @cocktails.each do |cocktail| %>
    <div class="card">
   <%= image_tag("mojito.jpg" ,class: "card-img-top", width:'200', height:'350' ) %>
        <div class="card-body">
        <h5 class="card-title"><%= cocktail.name  %></h5>
<!--         <p class="card-text">Cocktails description</p> -->
        <a><%= link_to 'More', cocktail, class: "btn btn-info" %></a>
      </div>
    </div>
  <% end %>
</div>


<div class="button_container">
  <div class="row">
    <div class="col text-center">
      <%= link_to "Add a cocktail", new_cocktail_path, class:"btn btn-outline-success"%>
    </div>
  </div>
</div>
