<%= render "utilities/nav" %>
<%= render "utilities/carousel" %>

<div class="card-deck">
  <% @cocktails.each do |cocktail| %>
    <div class="card">
      <img class="card-img-top" src='app/assets/images/slide1.jpg' alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title"><%= cocktail.name  %></h5>
<!--         <p class="card-text">Cocktails description</p> -->
        <a><%= link_to 'More', cocktail, class: "btn btn-info" %></a>
      </div>
    </div>
  <% end %>
</div>


<%= link_to "Add a cocktail", new_cocktail_path %>


